[net]
# Network Dimensions
width=608
height=608
channels=3


# Optimization Parameters
batch=1
subdivisions=1
decay=0.0005
learning_rate=0.05
momentum=0.9
burn_in=2000
max_batches=160000
policy=steps
steps=5000,9000
scales=0.01,0.01


# Image Augementation Parameters
hue=0.1
saturation=1.5
exposure=1.5
angle=20


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=32
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=2
pad=1
filters=64
activation=leaky


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=32
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=3
stride=2
pad=1
filters=128
activation=leaky


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=64
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=128
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=64
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=128
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=3
stride=2
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=3
stride=2
pad=1
filters=512
activation=leaky


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=3
stride=2
pad=1
filters=1024
activation=leaky


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=512
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=512
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=512
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=512
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky


[shortcut]
from=-3
activation=linear


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=512
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=512
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=512
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky


[convolutional]
size=1
stride=1
pad=1
filters=255
activation=linear


[yolo]
mask=6,7,8
anchors=10,13, 16,30, 33,23, 30,61, 62,45, 59,119, 116,90, 156,198, 373,326
classes=80
num=9
jitter=0.5
ignore_thresh=0.5
truth_thresh=1.0
random=1

[route]
layers=-4


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256
activation=leaky


[upsample]
stride=2


[route]
layers=-1, 61


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky


[convolutional]
size=1
stride=1
pad=1
filters=255
activation=linear


[yolo]
mask=3,4,5
anchors=10,13, 16,30, 33,23, 30,61, 62,45, 59,119, 116,90, 156,198, 373,326
classes=80
num=9
jitter=0.5
ignore_thresh=0.5
truth_thresh=1.0
random=1

[route]
layers=-4


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128
activation=leaky


[upsample]
stride=2


[route]
layers=-1, 36


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128
activation=leaky


[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky


[convolutional]
size=1
stride=1
pad=1
filters=255
activation=linear


[yolo]
mask=0,1,2
anchors=10,13, 16,30, 33,23, 30,61, 62,45, 59,119, 116,90, 156,198, 373,326
classes=80
num=9
jitter=0.5
ignore_thresh=0.5
truth_thresh=1.0
random=1
